<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autopia">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".activities.utils.Application"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:required="false"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Autopia.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.ui.ChatBotActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".activities.ui.WorkshopNavigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_workshop_navigation_drawer"
            android:theme="@style/Theme.Autopia.NoActionBar.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ui.WorkshopInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ui.ForgotPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ui.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.Autopia.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ui.WorkshopSignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ui.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ui.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ui.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ui.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.example.android.whileinuselocation.ForegroundOnlyLocationService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.onesignal.example.NotificationServiceExtension" />
        <meta-data
            android:name="com.onesignal.suppressLaunchURLs"
            android:value="true" />

        <receiver
            android:name=".activities.utils.NoShowReceiver"
            android:enabled="true" />
        <receiver
            android:name=".activities.utils.ReminderReceiver"
            android:enabled="true" />
    </application>

</manifest>